.root {
  min-width: 280px;
  cursor: pointer;
}

.img {
  min-width: 280px;
  min-height: 320px;
  border-radius: var(--yc-card-border-radius) var(--yc-card-border-radius) 0 0;
}

.description {
  padding: 0 10px 10px 10px;
}

.metroIcon {
  color: red;
}

.skeleton {
  min-width: 280px;
  height: var(--ad-card-skeleton-height, 100px);
}
